<div class="hero-unit">
  <div class="logo-head">
  </div>
  {{#with config}}
  <h1>
    {{title}}
  </h1>
  <hr>
  <div class="alert alert-success">
    <strong>Thank you!</strong> {{success}}<br>
  </div>
  <div class="alert alert-error">
    {{invalid}}<br>
  </div>
  <div class="alert alert-block">
    <h4>
      Server Error!
    </h4>{{error}}<br>
    <small>Server returned: <span id="server-error-message"></span></small><br>
  </div>
  {{/with}}
  <form class="form-horizontal" id="registration-form" name="registration-form">
    {{#each groups}}
    <div class="control-group">
      <label class="control-label">{{label}}</label>
      <div class="controls">
      
        {{#each fields}}
          {{{render .}}} 
        {{/each}}
        
      </div>
    </div>
	  {{/each}}
    <div class="form-actions">
      <button class="btn btn-info btn-submit" type="submit">Submit</button>
    </div>
  </form>
</div>